@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'lato',sans-serif;
    line-height:1.6 ;
    width:100%;
    height:100%;
}
main{
    padding:70px;
}
header{
    height:100px;
    font-family: Metropolis;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    box-shadow: 0px 4px 4px #F4F2F6;
}
header .grid{
    grid-template-columns:1fr 1fr;
}
.header_loginbox{
    justify-self:flex-end;
    margin-right:30%;
}
main h1{
    text-align: center;
    font-family:Noto Sans Jp;
    font-size: 28px;
    color: #31326C;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    margin-bottom:40px;
}
.info-formbox .card{
    width: 793px;
    height: 1025px;
    text-align: left;
    margin:0 auto;
}
.info-formbox .flex{
    display: flex;
    gap:0;
    margin-top:5%;
    justify-content:space-evenly;
    align-items: center;
    height:75%;
    flex-wrap: wrap;
}
.info-formbox h2,.info-formbox h3{font-family: Noto Sans Jp;}
.info-formbox h2{
    font-size: 28px;
    justify-self: flex-start;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.info-formbox h3{
    font-size: 20px;
    justify-self:start;
    font-style: normal;
    color:#31326C;
    font-weight: 300;
    line-height: 15px;
}
.input-icons{
    position: relative;
}
.input-icons i{
    position: absolute;
    background-color: #31326C;
    color:rgba(255, 217, 0, 0.8);
    padding:10px 6px;
    top:1px;
    left:1.48px;
}
.sign-in{
    padding:10px 40px;
    font-size:20px;
}
.next{
    background-color: #31326C;
    color:#fff;
    padding:20px 120px;
    
}
.file{
    padding:11px 50px;
}

/* Bank Info */
.bank-info-formbox .card{
    width: 793px;
    height: 700px;
    justify-self: flex-start;
    text-align: left;
    margin:0 auto;
}
.bank-info-formbox .flex{
    display: flex;
    gap:0;
    margin-top:5%;
    justify-content:space-between;
    align-items:flex-start;
    height:70%;
    flex-wrap: wrap;
}
.bank-info-formbox span{
    display: block;
    text-align: center;
    width: 178px;
    height: 52px;
}
.bank-info-formbox .card .sign_in{
    font-size:30px;
    text-align: left;
    width:500px;
}

@media(max-width:770px){
    .header_loginbox{
        justify-self: flex-end;
        margin-right:0;
        
    }
    main{
        padding:20px 40px;
    }
    .info-formbox .flex{
    display: flex;
    gap:0;
    margin-top:5%;
    justify-content:start;
    align-items: center;
    height:80%;
    flex-wrap: wrap;
    }

    .info-formbox .card{
        max-width:450px;
        text-align: center;
    }
    .info-formbox .card input{
        max-width:300px;
        margin:0 auto;
    }

    .info-formbox .card{
        width: 793px;
        height: 1125px;
        margin:0 auto;
    }
    .info-formbox .card .next{
        display: block;
        max-width:200px;
        margin:0 auto;
    }

}
   

@media(max-width:450px){
    /* Header */
    header{
        height:170px;
    }
    header .grid{
        grid-template-columns:1fr;
    }
    header .btn{
        padding: 15px 20px;
    }
    .header_logobox{
        margin:0 auto;
    }
    .header_loginbox{
        justify-self:center;
        margin:0 auto;
    }


    .info-formbox .card{
        max-width:300px;
        text-align: center;
        height:1200px;
        justify-self: flex-start;
        margin-left:0;
    }
    .info-formbox .card input{
        max-width:200px;
    }

    .info-formbox .card .next{
        display: block;
    }
    
}